*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-800: #000;
  --yellow: #e6e5af;
  --yellow-100: #fffbe6;
  --yellow-400: #ffda4b;
  --yellow-800: #aacb56;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61ae;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  margin-top: 100px;
  background-color: #a87639;
  /* padding-bottom: 1000px; */
}

@media (max-width: 768px) {
  body {
    margin-top: 500px;
  }
}

@media (max-width: 1024px) {
  body {
    margin-top: 120px;
  }
}

a {
  text-decoration: none;
  color: var(--blue);
  &:hover {
    text-decoration: underline;
    color: #a87639;
  }
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  max-width: 1440px;
  margin: auto;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .logo-holder {
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 600;
    color: var(--base-800);

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      background-color: var(--base-800);
      color: var(--base-100);
      height: 32px;
      width: 32px;
      margin-right: 20px;
      border-radius: 50%;
    }
    .logo-text {
      flex: 1;
    }
  }

  /* Reset margins and paddings */
  body,
  html {
    margin: 0;
    padding: 0;
  }

  /* Navigation styles */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--yellow);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 5px;
  }

  ul li {
    display: inline-block;
  }

  ul li a {
    display: inline-block;
    padding: 10px;
    color: var(--base);
  }

  ul li a:hover {
    background-color: var(--base-100);
    border-radius: 10px;
    text-decoration: none;
  }

  .mobile-toggle {
    display: none;
    color: var(--base-800);
    padding: 10px;
  }

  @media (max-width: 768px) {
    .mobile-toggle {
      display: inline-block;
      position: absolute;
      top: 2px;
      right: 10px;
    }

    nav {
      flex-direction: column;
      align-items: center;
      margin-top: 0; /* Ensure no additional margin is added */
      width: 100%;
    }

    nav ul {
      display: none;
      flex-direction: column;
      text-align: center;
      width: 100%;
    }

    nav ul.active {
      display: flex;
    }

    nav ul li a {
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  }
}

.container {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--blue);
  color: var(--base-100);
  border-radius: 10px;
  transition: ease 0.3s all;

  &:hover {
    text-decoration: none;
    background-color: var(--base-800);
  }
  &.white {
    background-color: rgb(158, 146, 146);
    color: var(--base-800);
    &:hover {
      background-color: var(--base-100);
      color: black;
    }
  }
  &.black {
    background-color: black;
    color: white;
    &:hover {
      background-color: var(--base);
      color: var(--base-100);
    }
  }
}

h1 {
  font-size: 64px;
  line-height: 1;
  /* margin-bottom: 10px; */
  small {
    display: block;
    font-weight: 100;
  }
  @media (max-width: 1024px) {
    font-size: 48px;
  }
}

.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .hero-blue {
    flex: 1;
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .call-to-action {
      margin-top: 20px;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .social-links {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .hero-yellow {
    flex: 1;
    background-color: var(--yellow-100);
    border-radius: 30px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      margin-top: -190px;
      max-width: 420px;
      margin-left: 50px;
    }
  }
}

.logos {
  background-color: var(--base-100);
  border-radius: 30px;
  padding: 30px 0px;
  @media (max-width: 1024px) {
    border-radius: 0px;
  }
  .marquee {
    width: 100vw;
    max-width: 100%;
    height: 128px;
    overflow: hidden;
    position: relative;
    .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 40s linear infinite;
      display: flex;
      gap: 10px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}

h2 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  color: var(--base-800);
  padding: 100px;
  small {
    display: block;
    font-weight: 100;
    font-size: 0.5em;
    color: var(--base);
  }
  @media (max-width: 1024) {
    font-size: 48px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  color: var(--base-800);
}

.skills {
  .holder-blue {
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .left-column {
      flex: 1;
      ul {
        list-style: none;
        gap: 10px;
        margin-right: 100px;
        margin-bottom: 20px;
        li {
          display: inline-block;
          background-color: var(--blue-400);
          padding: 10px 20px;
          border-radius: 15px;
          margin-bottom: 10px;
        }
      }
    }
    .right-column {
      flex: 1;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

.work-experience {
  .jobs {
    display: flex;
    gap: 30px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    article {
      background-color: var(--yellow-100);
      padding: 30px;
      border-radius: 30px;
      flex: 1;
      /* padding-right: 50px; */
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      div {
        font-weight: 600;
        margin-bottom: 5px;
        color: var(--base-800);
      }
      p {
        margin-bottom: 10px;
      }
      figure {
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          object-fit: cover;
          transition: ease 3s all;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          color: var(--blue-100);
          text-align: center;
          padding: 10px;
          opacity: 0;
          visibility: hidden;
          transition: ease 0.3s all;
        }
        &:hover {
          figcaption {
            opacity: 1;
            visibility: visible;
          }
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.bento .bento-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  height: auto;
  margin-left: 300px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 50px;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px;
  }
}

.bento .bento-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--base-100);
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 3s ease;
  }

  img:hover {
    transform: scale(1.1);
  }

  p {
    margin: 0;
    color: var(--base-800);
    font-size: 16px;
  }

  @media (max-width: 768px) {
    img {
      height: auto;
    }
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4){
    grid-column: span 2;

    @media (max-width: 1024px) {
      grid-column: span 1;
    }
  }
}


.chatbot {
  .chatbot-blue {
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    gap: 30px;
    display: flex;
    text-decoration: none;
    margin-bottom: 100px;
    margin-top: 0;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    p {
      margin-bottom: 30px;
    }
    .chat-info {
      flex: 3;
      padding-right: 30px;
    }
    .chat-box {
      flex: 4;
      background: white;
      border-radius: 15px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      .scroll-area {
        max-height: 300px;
        height: 300px;
        overflow-y: scroll;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 15px;
          li {
            display: flex;
            align-items: center;
            gap: 15px;

            &:nth-child(even) {
              text-align: right;
              justify-content: flex-end;
              flex-direction: row-reverse;
              span {
                background-color: var(--yellow);
              }
            }
            span {
              background-color: var(--blue-400);
              width: 64px;
              height: 64px;
              border-radius: 50%;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              @media (max-width: 768px) {
                width: 48px;
                height: 48px;
              }
            }
            div {
              flex: 1;
            }
          }
        }
      }

      .chat-message {
        display: flex;
        margin-top: 15px;
        gap: 15px;
        input {
          border-radius: 10px;
          flex: 1;
          padding: 15px;
          border: 1px solid transparent;
          background-color: var(--base-100);
          &:hover {
            outline: none;
            background-color: white;
            border: 1px solid var(--base-100);
          }
          &:focus {
            outline: none;
            background-color: white;
            border: 1px solid var(--base-100);
          }
        }
        button {
          border: none;
          cursor: pointer;
          /* flex-wrap: wrap; */
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--yellow);
  z-index: 1000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  /* padding: 1px 0; */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.typing-container {
  margin-bottom: 10px;
  position: relative;
  white-space: nowrap;
}

footer p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

/* body {
  margin-bottom: 80px;
} */

/* @media (max-width: 768px) {
  
} */